<%- include('partials/head')%>
<body>
    <nav class="navbar bg-dark blueShadow">
        <div class="container-fluid">
          <p class="navbar-brand txtBlue">Curso Backend - Coder House 2022</p>
        </div>
    </nav>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center ">
        <img src="https://cdn-icons-png.flaticon.com/512/5234/5234583.png" class="worker mt-5" alt="worker-img" >
        <h3 class="txtBlue p-5  text-center mb-0" >Proyecto Final Backend - E-commerce  </h3>
        <p class="txtBlue p-5  text-center py-0" >Testeo de rutas por POSTMAN o implementar Front end </p>
    </div>
</body>
</html>