<%- include('partials/head')%>
<body>
    <nav class="navbar bg-dark blueShadow">
        <div class="container-fluid">
          <p class="navbar-brand txtBlue">Ecommerce - Coder 2022</p>
          <a href="/login" class="btn btn-primary">LogIn</a>
        </div>
    </nav>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center ">
        <img src="https://cdn-icons-png.flaticon.com/512/2767/2767716.png" class="worker mt-5" alt="worker-img" >
        <h3 class="txtBlue p-5  text-center" >Proyecto eCommerce en construcción <br> Entrega Nº 3</h3>
        <p class="txtBlue text-center">(Proyecto con vistas de acceso a login y registro productos y carrito (ruta admin sin vista)<br> Tipo de producto y estilos a definir).</p>
    </div>
</body>
</html>