<%- include('partials/head')%>
<body>
    <nav class="navbar bg-dark blueShadow">
        <div class="container-fluid">
          <p class="navbar-brand txtBlue">Backend - Coder House 2022</p>
          <a href="/login" class="btn btn-primary">LogIn</a>
        </div>
    </nav>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center ">
        <img src="https://cdn-icons-png.flaticon.com/512/5234/5234583.png" class="worker mt-5" alt="worker-img" >
        <h3 class="txtBlue p-5  text-center" >Proyecto Final Backend - E-commerce  </h3>
    </div>
</body>
</html>